*{
  font-family: "Arial";
}
.containerGrid{
  padding-top: 50px;

}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  background: #FFFFFF;

}
.categorias{
  background-color: orange;
  border-radius: 10px;
}
.categorias ul{
  border-radius: 10px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:space-around;
  background: orange;
  list-style: none;
  a{
    cursor: pointer;
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    color:#FFF;
    &:hover {
      background: coral;
    }

  }
}
.containerCard{

  width: 100%;
  max-width: 1200px;
  height: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .card{
    width: 250px;
    height: 360px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgb(0,0,0,0.2);
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    &:hover{
      transform: translateY(-15px);
      box-shadow: 0 12px 16px rgb(0,0,0,0.2);
    }
    img{
      width: 250px;
      height: 200px;
      filter: opacity(0.9) drop-shadow(0 0 0 grey);
    }

    .content{
      font-weight: 600;

    }
    a{
      font-weight: 500;
      text-decoration: none;
      color: black ;
      border: 1px solid orange;
      border-radius: 15px ;
      padding: 10px;
      margin: 0 20px;
    }
  }

}
.title{
  display: flex;
  justify-content: center;
}
.modalImage{
  position: fixed;
  top: 5%;
  left: 25%;
  filter: opacity(0.9) drop-shadow(0 0 0 grey);
  border-radius: 10px;
}
$medium: 1060px;
$small: 800px;
$smallx2: 550px;
@media screen and (max-width: $medium){
  .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .modalImage{
    position: fixed;
    top: 5%;
    left: 20%;
    filter: opacity(0.9) drop-shadow(0 0 0 grey);
  }
}
@media screen and (max-width: $small){
  .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .modalImage{
    position: fixed;
    top: 5%;
    left: 10%;
    filter: opacity(0.9) drop-shadow(0 0 0 grey);
  }
  .categorias{
    ul{
      display: flex;
      flex-wrap: wrap;
    }

  }



}
@media screen and (max-width: $smallx2){
  .grid{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .modalImage{
    position: fixed;
    top: 5%;
    left: 10%;
    filter: opacity(0.9) drop-shadow(0 0 0 grey);
  }

}



