*{
  font-family: "Comic Sans MS";
}
ul{
  display: flex;
  padding: 0;
  margin: 0;
}
li{
  padding: 0;
  margin: 0;
  list-style: none;
}
.navbar{
    background: #008F39 ;
    display: flex;
    justify-content: center;
    a{
      display: inline-block;
      padding: 10px 10px;
      text-decoration: none;
      color:#FFF;
      &:hover {
        background: #00B347;
      }
    }
  }

.active-link{
  background: #00B347
}
.navbar-open{
  display: none;
}
$small: 500px;
$medium: 900px;

  @media screen and (max-width: $small) {
    .navbar{
      display: none;
    }
    .navbar-open{
      display: flex;
      background: #008F39 ;
      justify-content: center;
      a{
        display: inline-block;
        padding: 10px 10px;
        text-decoration: none;
        color:#FFF;
        &:hover {
          background: #00B347;
        }
      }
    }
    ul{
      display: block;
    };
  }

