<nav class="navbar">
  <ul>
    <li>
      <a routerLink="/inicio" routerLinkActive="active-link">INICIO</a>
    </li>
    <li>
      <a routerLink="/listar" routerLinkActive="active-link">LISTAR</a>
    </li>
    <li>
      <a routerLink="/crear" routerLinkActive="active-link">CREAR</a>
    </li>
    <li>
      <a routerLink="/listar" >ACTUALIZAR </a>
    </li>
  </ul>
</nav>
<nav class="navbar-open">
  <ul>
    <li>
      <a routerLink="/inicio" routerLinkActive="active-link">INICIO</a>
    </li>
    <li>
      <a routerLink="/listar" routerLinkActive="active-link">LISTAR</a>
    </li>
    <li>
      <a routerLink="/crear" routerLinkActive="active-link">CREAR</a>
    </li>
    <li>
      <a routerLink="/listar" >ACTUALIZAR</a>
    </li>
  </ul>
</nav>

