<nav class="navbar">
  <a routerLink="/inicio" routerLinkActive="active-link">INICIO</a>
  <a routerLink="/listar" routerLinkActive="active-link">LISTAR</a>
  <a routerLink="/crear" routerLinkActive="active-link">CREAR</a>
  <a routerLink="/actualizar" routerLinkActive="active-link">ACTUALIZAR</a>
</nav>
<nav class="navbar-open">
  <a routerLink="/inicio" routerLinkActive="active-link">INICIO</a>
  <a routerLink="/listar" routerLinkActive="active-link">LISTAR</a>
  <a routerLink="/crear" routerLinkActive="active-link">CREAR</a>
  <a routerLink="/actualizar" routerLinkActive="active-link">ACTUALIZAR</a>
</nav>
